<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.ponom.survivalistapplication">

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETE"
/>

    <application
        android:name=".Application"
        android:allowBackup= "false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.SurvivalistApplication">
        <activity android:name=".InfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".lifekeeper_test_versions_dont_use.KeepAliveReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.os.action.DEVICE_IDLE_MODE_CHANGED" />
                <action android:name="android.os.action.ACTION_POWER_SAVE_MODE_CHANGED" />

            </intent-filter>
        </receiver>


    </application>




</manifest>